<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <style>
table, th, td {
    border: 1px solid black;
}
</style>
  <title>Code Snippets</title>
   <script src="./Scripts/angular.min.js"></script>
   <script src="./Scripts/app.js"></script>
</head>
<body ng-controller="ctrl" >  
  <div>  
      UserId:
      <input type='number' ng-model="id">
      <br>
      <br>
      CodeId:
      <input type="number" ng-model="codeId">
      <br>
      <br> Language:
      <input type="text" ng-model="lang">
      <br>
      <br> Code:
      <textarea rows='6' cols='40' ng-model="code">

      </textarea>
      <br>
      <br>
      <button ng-click='view()'>
          View
      </button>
 
      <button ng-click='insert()'>
          Insert
      </button>

      <button ng-click='remove()'>
          Remove
      </button>

      <button ng-click='update()'>
          UPDATE
      </button>
    <br>
      <br>
</div>
<table ng-repeat="(key,val) in output.data">
    <tr>
        <td>{{val}}</td>
     </tr>
</table> 
  </body>
</html>